.border {
    border-radius: 10px;
    border: var(--border);
}


.primary {
    position: relative;
    overflow: hidden;
}

.sticky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.header {
}

.buttonHeader {
    top: 0;
    margin: 30px;
    padding: 15px 40px;
    text-decoration: none;
    color: var(--white-gold);
    letter-spacing: 2px;
    background: none;
}

.buttonHeader p {
    font-weight: bold;
    font-size: 1.6rem;
}