.projects {
    background: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.projectsTitle {
    margin: 20px 0;
}

.projectsGalleryProjectInformation {
    background-image: url("../img/proj1/img (1).jpg");
    height: 400px;
    width: 40vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

}

.projectsGallery {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.projectsGalleryProject {
    height: 20px;
    width: 20px;
}

.projectsGalleryProjectInformation {
    position: relative;

}

.projectsGalleryProjectName {
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;

    color: black;
    left: 40px;
    bottom: 60px;
    position: absolute;
}

.projectsGalleryProjectSize {
    font-size: 20px;
    display: inline-block;
    color: black;
    border: 4px solid white;
    padding: 0 5px;
    border-radius: 15px;
    background: white;
    position: absolute;
    left: 40px;
    bottom: 10px;
}

.projectsGalleryProject img {

}


.imageView {
    position: fixed;
    top: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    display: none;
}

.imageBox {
    width: 70vw;
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:  #7BA0C0;
    display: none;
}


#prevBtn, #nextBtn {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    cursor: pointer;
}

#prevBtn {
    border-right: 40px solid grey;
    left: -50px;
}

#nextBtn {
    border-left: 40px solid grey;
    right: -50px;
}

#nextBtn:hover, #prevBtn:hover {
    opacity: 0.6;
}
